<title>Todo list</title>

<div class="container">

  <!-- title row -->
  <div class="row">
    <div class="offset-md-2 col-lg-9">
      <div class="page-header">
        <h1>
          Todo List
        </h1>
      </div>
    </div>
  </div>

  <!-- todo list row -->
  <div class="row">
    <div class="offset-md-2 col-lg-6">
      <div class="list-group">
        {% for todo in todo_list %}
        <div class="list-group-item {% if todo.isCompleted %} todo-complete {% endif %}">

          {{ todo.title }}

        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
